#input1, #input2 {
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
    color: deeppink;
    background-color: lightgreen;
}

#readOnly {
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    background-color: aqua;
}

#random1, #random2, #button {
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
    background-color: palevioletred;
    color: white;
}